/* File: style.css */
/* This file is a part of TG-FileStreamBot
 Coding : Jyothis Jayanth [@EverythingSuckz] */

/* thanks to @programcrasher to fix errors from this file. */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Cyber', sans-serif;
    background: linear-gradient(90deg, #f5ed00 70%, #e6de00 70%), #fff700;
    transition: background 1s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: absolute;
    top: 0;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #f7f305;
    padding: 10px;
}

#file-name {
    color: blue;
    font-size: 2rem;
    font-weight: 800;
    font-family: sans-serif;
}

.container {
    padding-top: 1%;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    max-width: 600px;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
    }
    #file-name {
        font-size: 1.5rem;
    }
    footer h4 {
        font-size: 0.875rem;
    }
}

footer {
    height: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    right: 0px;
    bottom: 0;
    background-color: white;
    font-family: Delius;
    display: flex;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.plyr--full-ui input[type=range] {
    color: var(--player-hover-color);
}

.plyr__control--overlaid {
    background: #1E1E1E;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: #ffc107;
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px #ffc107;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: violet;
}

.plyr__menu__container .plyr__control[role=menuitemradio]:hover::before {
    background: violet;
}
